@model PhotographyWeb.Models.Video

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Video</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileFormat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileFormat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoQuality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoQuality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoCameraId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoCameraId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoGrapherId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoGrapherId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VideoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
