@model PhotographyWeb.Models.Photo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Photo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileFormat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileFormat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resolution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resolution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoCameraId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoCameraId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotographerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotographerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PhotoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
